@page "{id:int?}"
@model WebApplication3.Pages.Reports.ReviewReportModel
@{
    ViewData["Title"] = "ReviewReport";
    
}

<h1>Review's Report</h1>

<div class="row">
    <div class="col-lg-auto">
        <form method="post">
            <div class="form-group">
                <label class="control-label">Choose review's rating to generate Report</label>
                <select name="starSelected">
                    <option value="0">Show all</option>
                    <option value="1">1 star</option>
                    <option value="2">2 stars</option>
                    <option value="3">3 stars</option>
                    <option value="4">4 stars</option>
                    <option value="5">5 stars</option>
                </select>

                <input type="submit" value="Generate Report" class="btn btn-primary" />
            </div>
            <div class="form-group">
                @if (Model.star == 0)
                {

                    <h2>All current reviews in the system</h2>
                }
                else
                {
                    <h2>Report for @Model.star stars Reviews</h2>
                }
            </div>
        </form>
    </div>
    <div>
    </div>
</div>
<table class="table table-hover">
    <thead class=" bg-primary border shadow-sm">
        <tr>
            <th scope="col" style="color:white">
                Rated
            </th>
            <th scope="col" style="color:white">
                Product name
            </th>
            <th scope="col" style="color:white">
                Review title
            </th>
            <th scope="col" style="color:white">
                Review content
            </th>
            <th scope="col" style="color:white">
                User's last name'
            </th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody class="bg-info align-content-center flex-row border">
                   
        @foreach (var item in Model.REVIEW)
        {
            
            if (item.R_Star == Model.star || Model.star == 0)
            {

                <tr class="border-top">
                    <td scope="row">
                        @Html.DisplayFor(modelItem => item.R_Star)
                    </td>
                    <td>
                        @foreach (var itemProduct in Model.PRODUCTS)
                        {
                            if (itemProduct.P_ID == item.ID)
                            {

                                @Html.DisplayFor(modelItem => itemProduct.P_Name)
                            }
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.R_Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.R_Content)
                    </td>
                    <td>
                        @foreach (var itemUser in Model.USERS)
                        {
                            if (itemUser.U_ID == item.R_UID)
                            {

                                @Html.DisplayFor(modelItem => itemUser.U_LName)
                            }
                        }
                    </td>
                </tr>

            }

        }
    </tbody>
</table>
<div class="form-group">
    <a asp-page="../USERS/Index" asp-route-id="@Model.currentUserID">Go back home page</a>
</div>
